// Colours
$cl_blue: rgb(211, 84, 0);
$cl_blue_border: rgb(230, 126, 34);
$white: #FFF;
$black: #000;
$mercury: #ecf0f1;
$alabaster: #ecf0f1;
$black_haze: #ecf0f1;
$gray_nurse: #ecf0f1;
$fuscous_gray: #95a5a6;
